.header {
  width: 100%;
  background: white;
  height: 64px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f9f9f9;
}

.logo {
  height: 60px;
  width: auto;
  transform: scale(1.25);
}

.nav {
  display: flex;
  gap: 90px; 
  font-size: 15px;
  font-weight: 530;
  color: black;
}

.acoes {
  display: flex;
  align-items: center;
  gap: 12px;
}

.busca {
  position: relative;
}

.buscaInput {
  width: 200px;
  height: 32px;
  border-radius: 999px;
  background: #EDE8FF;
  border: 1px solid #1E1B4B;
  padding-left: 32px;
}

.botoes {
  display: flex;
  border-radius: 999px;
  border: 1px solid black;
  overflow: hidden;
  font-size: 13px;
  font-weight: 700;
}

.btnEntrar {
  background: #FFD6E0;
  color: #000; 
  padding: 6px 20px;
}

.btnCadastro {
  background: #E94E77;
  color: white;
  padding: 6px 20px;
}

.buscaInput::placeholder {
  color: #8B8B8B;
  font-size: 13px;
}